.Vlegend
{
   background:#2574A9;
}
.votreidentité
{
   background-color:#2574A9;
}
.Alegend
{
   background:#9A12B3;
}
.adressedelivraison
{
   background-color:#9A12B3;
}
.Ilegend
{
   background:#DB0A5B;
}
.informationsdereglement
{
   background-color:#DB0A5B;
}
div
{
  margin-left:25px
}
.typecarde
{
  margin-left:50px
}
